.flexlist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col4 {
  width: 24%;
}

.col2 {
  width: 49%;
}

.p2 {
  padding: 0 2rem;
}

.mt1 {
  margin-top: 1rem;
}

.small-red {
  color: #F44336;
  font-size: 16px;
}

.to-right {
  display: block;
  text-align: right;
}

.close-icon {
  float: right;
  cursor: pointer;
}

.card-title {
  text-shadow: 1px 2px 6px black;
}